//Globs

.bg{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;

}

.section-content, .custom-content-section {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
}

.custom-content-section.floor-plans{
  height: auto;
  //min-height: calc(100vh - 100px);

}


.infoboxes-container{
  height: 100%;
  width: 20%;
}

//Section About

.about-section {

}

//Section Location

.area-section {
  display: flex;

}

// Location page

//top section


// map section

#map-handler {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  border: none;
  background: none;
  width: 15vw;
  height: 100px;
  cursor: pointer;
  text-align: right;
  svg {
    max-width: 100%;
    max-height: 100%;
    animation: size-handler 2s infinite;

  }

  &.active {
    svg {
      animation: none;
      g {
        fill: #fff !important;
      }

    }
  }
}

@keyframes size-handler {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.map-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba($brand-primary, 0.11);
  z-index: 1;

  &.hiden {
    z-index: -1;
  }
}

#location-map {
  height: 100%;
}


// Section Offices



// Floor plans


// Facilities



// CONTENT SECTIONS GLOBS




