.front-img{
  width: 100%;
  height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  position: relative;
  background-image: url("../images/homepage-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-txt{
  width:getVw(475);
  background-color:#fff;
  padding: getVw(60);
  position: absolute;
  top: getVw(140);
  right: getVw(90);
  svg{
    max-height: 100%;
  }

}
@media only screen and (max-width : 1025px) {

  .welcome-txt{
    top:15vh;
    width:getVw(675);
  }
}


@media only screen and (max-width : 769px) {


  .welcome-txt{
    top:15vh;
    width:getVw(575);
  }





}

@media only screen and (max-width : 601px) {

  .welcome-txt{
    position: relative;
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    top: auto;
    right: auto;
    padding: 10px;

  }

}