.front-img{
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url("../images/homepage-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-txt{
  width:getVw(475);
  background-color:#fff;
  padding: getVw(60);
  position: absolute;
  top: getVw(140);
  right: getVw(90);
  svg{
    max-height: 100%;
  }

}