



  .footer-logo{
    max-width: 100%;
    max-height: 75px;
    margin: 10px;
    padding: 10px;
  }


.footer-center-col{
  text-align: right;
  position: relative;
  display: table;
  padding-top: 5px;

  p{
    margin: 15px -10px;
    display: inline-table;
    vertical-align: middle;
    span{
      font-size: 5rem;
      font-weight: 500;
      color: $brand-primary;
      margin-left: 5px;
      vertical-align: inherit;
    }
  }
  img{
    height: auto;
    padding: 10px;
    max-height: 60px;
    width: auto;
    display: inline-table;
    vertical-align: middle;
  }
}

.footer-right-col{
  text-align: right;
  img{
    max-width: 100%;
    max-height: 75px;
    margin-top: 10px;

  }
}

@media only screen and (max-width : 993px) {
  .footer-left-col{

    .footer-logo{
      padding: 10px;
      margin-top: 5px;
    }
  }

  .footer-center-col{
    text-align: right;
    p {
      margin: 15px 0 0 0;
      display: inline-table;
      vertical-align: middle;
      font-size: 1.5rem;

      span{
        font-size: 3.4rem;
        white-space: nowrap;
      }
    }


  }

  .footer-right-col{
    text-align: right;
    img{
      max-width: 100%;
      max-height: 65px;
      margin-top: 10px;

    }
  }


}


@media only screen and (max-width : 769px) {


  .footer-logo{
    padding: 5px;
    margin-top: 5px;
    max-height: 60px;

  }

  .footer-center-col{
    text-align: center;
    p {
      margin: 10px 0 0 0;
      display: inline-table;
      vertical-align: middle;
      font-size: 1.5rem;

      span{
        font-size: 2.5rem;
        white-space: nowrap;
      }
    }


  }



  .footer-right-col{
    text-align: right;
    img{
      max-width: 100%;
      max-height: 45px;
      margin-top: 10px;

    }
  }




}


@media only screen and (max-width : 479px) {



  .footer-left-col{

    .footer-logo{
      padding: 0;
      margin-top: 15px;
    }
  }

  .footer-center-col{
    text-align: center;
    p {
      margin: 10px 0 0 0;
      display: inline-table;
      vertical-align: middle;
      font-size: 1.2rem;
      font-size: 3.5vw;

      span{
        font-size: 1.4rem;
        font-size: 4vw;
        white-space: nowrap;
      }
    }


  }

  .footer-right-col{
    img{
      max-width: 100%;
      max-height: 40px;
      margin-top: 10px;
    }
  }

}


