

//Globs

//  Header




// Fonts

// Titles Roboto reg 60px
// Content Roboto reg 36px

html{
  height: 100%;
}

body{
  height: 100%;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

body.blog, body.home{
  .wrap{
    //min-height: 100%;
  }
}


h1{
  font-size: 3rem;
  font-weight: 300;
}

p{
  font-size: 1.8rem;
}
