@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin-ext');


//Base width in px
$base-width: 1600;
$base-width-px: 1600px;

// Colors
$brand-primary:         #1fbed8;
$content-color:         #58595b;


//Sizes
$headerH: 100px;