.facilities-section {
  display: flex;
}

  .facilities-legend-panel {
    height: 100%;
    padding: 5px 10px;
    background-color: #78BE44;
    text-align: center;
    padding: 10px 15px;
    width: 30%;
    
    h1{
      font-size: 1.8rem;
      color: #fff;
      margin: 15px 0;
      text-align: left;
    }
    }

  .facilities-legend{
    margin-top: 20px;
    padding: 0;
    list-style: none;
    li{
      position: relative;
      color: #fff;
      display: flex;
      justify-content: flex-start;

    svg{
      width: 25px;
      align-self: center;
      margin-right: 10px;
    }
      p{
        font-weight: 500;
        text-align: left;
        font-size: 1.4rem;

      }
    }
  }

  .office-visualization {
    background-image: url("../images/office-facilitiesBG.jpg");
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70%;
  }


@media only screen and (max-width : 993px) {

  .facilities-legend-panel {


    width: 25%;
  }

  .facilities-legend{

    li{

      svg{
        width: 20px;
        align-self: center;
        margin-right: 8px;
      }
      p{
        font-size: 1.2rem;

      }
    }
  }


  .office-visualization {

    width: 75%;
  }


  }


@media only screen and (max-width : 769px) {


  .facilities-section{
    flex-direction: column;
  }

  .facilities-legend-panel {

    width: 100%;
    order: 2;
    flex-shrink: 2;

    h1{
      font-size: 1.8rem;
      margin: 0 10px;
    }
  }

  .facilities-legend{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    li{
      width: 50%;
      svg{
        width: 25px;
        align-self: center;
        margin-right: 8px;
      }
      p{
        font-size: 1.4rem;

      }
    }
  }


  .office-visualization {

    width: 100%;
  }



}

@media only screen and (max-width : 500px) {

  .facilities-legend{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    li{
      width: 50%;
      svg{
        width: 15px;
      }
      p{
        font-size: 1rem;
        br{
          display: none;
        }

      }
    }
  }

}
