.infoboxes-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  float: left;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px 0 0 5px;
}

.svg-box {
  width: auto;
  display: block;
  margin: 15px;
  height: 20%;
  align-self: baseline;
}

.section-copy {
  position: absolute;
  display: block;
  bottom: 240px;
  right: 50px;
  width: getVw(600);
  background: rgba(#fff, 0.88);
  padding: 30px;
  text-align: left;

  > .heading {
    color: $brand-primary;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
  }

  > .copy {
    color: $content-color;
  }

}

// PAGE SPEC CONTENT

//location sections

.infrastructure-section {
  .infoboxes-container {
    .svg-box {
      &:first-child {
        height: 40%;
      }

      &._nd-placegolder {
        opacity: 0;
      }

      &:nth-child(7) {
        margin-top: -15px;
      }

    }
  }
}

/*********
    RWD
 *********/

@media only screen and (max-width: $screen-md-min) {

  .infoboxes-container {
    .svg-box {
      height: 16.5%;
    }
  }

  .section-copy {
    bottom: 20px;
    right: 20px;
    width: 60vw;
    padding: 20px;
    > .heading {
      font-size: 2rem;
      margin: 10px 0;
    }
    > .copy {
      font-size: 1.4rem;
      margin: 10px 0;
      line-height: 1.4;
    }

  }

  // location section


  .location-section {
    .infoboxes-container {
      .svg-box._long{
        order:9;
      }
    }
  }

  .infrastructure-section {
    .infoboxes-container {
      .svg-box {
        &:first-child {
          height: 33%;
        }

        &._nd-placegolder {
          display: none;
        }

        &:nth-child(7) {
          margin-top: 15px;
        }

        &._hr-rectangle {
          order: 1;
        }

      }
    }
  }

}

@media only screen and (max-width : 602px) {

.section-content{
  display: flex;
  flex-direction: column;

  .bg{
    position: relative;
  }

  .infoboxes-container{
    display: none;
  }

  .section-copy{
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    order: 2;
  }

}

}
