.quater-section {
  max-height: 100%;
}

.quater-box {
  position: relative;
  width: 50%;
  height: 50%;
  float: right;
  background: #fff8e5;
  border: 6px solid #fff;
  margin: 0;
  background-size: cover;
  background-position: bottom;
  transition: 1s;

  .size-control-ico {
    max-width: 10%;
    position: absolute;
    max-height: 10%;
    margin: 10px;
    right: 0;
    top: 0;
    display: none;
    &.min {
      display: none;
    }
  }

  &._lt {
    border-top: none;
    border-left: none;
  }
  &._rt {
    border-right: none;
    border-top: none;
  }
  &._rb {
    border-right: none;
    border-bottom: none;
  }
  &._lb {
    border-bottom: none;
    border-left: none;
  }

  &.full {
    width: 100%;
    height: 100%;
    left: 0 !important;
    top: 0 !important;
    transition: 1s;
    border: none;
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;

    .size-control-ico {
      &.min {
        display: block;
      }
      &.max {
        display: none;
      }
    }
  }

}

.quater-box-info {
  max-width: getVw(180);
  padding: 20px;
  transition: 0.6s;
}


@media only screen and (max-width : 993px) {


  .quater-box-info {
  max-width: getVw(220);
    padding: 10px;
  }


}

@media only screen and (max-width : 769px) {


  .quater-box-info {
    max-width: getVw(260);
    padding: 5px;
  }

  .quater-box{
    .size-control-ico{
      display: block;
    }

    &.full{

      .quater-box-info {
        max-width: getVw(500);
        padding: 10px
      }

    }
  }








}


