.swiper-container {
    width: 100%;
    height: calc(100vh - 200px);
    position: relative;


}


.swiper-slide {
    position: relative;


    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

}

.swiper-slide{
    &:first-child{
    }



    .box{
        background-image: url(../images/aboutProject-I.jpg);
        min-width: 100%;
        min-height: 100%;

    }
}




// Nested office swiper


.swiper-container-v, .swiper-container-mv{

    height: 100%;
    width: 100%;


    .swiper-slide{
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }


}

@media only screen and (max-width : 993px) {
    .swiper-container{
        height: calc(100vh - 180px);

    }

}


@media only screen and (max-width : 769px) {
    .swiper-container{
        height: calc(100vh - 140px);

    }


}

@media only screen and (max-width : 479px) {

    .swiper-container{
        height: calc(100vh - 130px);

    }
}