.legend-panel {
  height: 100%;
  background: #fff;
  margin: 0;
  padding: 5px 10px 0 40px;


  > h1 {
    color: $brand-primary;
    padding: 5px 0;
  }

  .location-legend{
    list-style: none;
    padding: 0;
    li{
      position: relative;
      margin: 4.5% 0 0 20px;
      font-size: 1.8rem;

      &:before{
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        left: -20px;
        bottom: 1.5px;
        margin-right: 5px;
        background: url(../images/location-legend-sprite.png) 0 0;
      }
      &:nth-child(2){
        &:before{
          background: url(../images/location-legend-sprite.png) 0 -15px;
        }
      }
      &:nth-child(3){
        &:before{
          background: url(../images/location-legend-sprite.png) 0 -32px;
        }
      }
      &:nth-child(4){
        &:before{
          background: url(../images/location-legend-sprite.png) 0 -46px;
        }
      }
      &:nth-child(5){
        &:before{
          background: url(../images/location-legend-sprite.png) 0 -62px;
        }
      }
      &:nth-child(6){
        &:before{
          background: url(../images/location-legend-sprite.png) 0 -78px;
        }
      }
      &:nth-child(7){
        &:before{
          background: url(../images/location-legend-sprite.png) 0 -93px;
        }
      }
      &:nth-child(8){
        &:before{
          background: url(../images/location-legend-sprite.png) 0 -108px;
        }
      }
      &:nth-child(9){
        &:before{
          background: url(../images/location-legend-sprite.png) 0 -123px;
        }
      }
      &:nth-child(10){
        &:before{
          background: url(../images/location-legend-sprite.png) 0 -139px;
        }
      }      &:nth-child(11){
               &:before{
                 background: url(../images/location-legend-sprite.png) 0 -154px;
               }
             }
      &:nth-child(12){
        &:before{
          background: url(../images/location-legend-sprite.png) 0 -170px;
        }
      }
    }
  }
}

.map-container {
  background-image: url("../images/plan.svg");
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
}

@media only screen and (max-width : 1400px) {

  .legend-panel {

    > h1 {

      font-size: 2.3rem;


    }

  }
}

@media only screen and (max-width : 1025px) {

  .legend-panel{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;

    >h1{
      margin: 10px;
      font-size: 2.3rem;
      text-align: center;

    }

    .location-legend{
      text-align: center;
      margin-left: 15px;
      li{
        font-size: 1.4rem;
        text-align: left;
        display: inline-block;
        width: 30%;
        margin: 10px 15px 0 0;
      }
    }
  }

  .map-container{
    width: 100%;
    height: 75%;
  }




}

@media only screen and (max-width : 700px) {

  .legend-panel {
    height: 40%;
    >h1{
      font-size: 3rem;
      margin-bottom: 20px;
    }

    .location-legend{
      li{
        font-size: 1.5rem;
        width: 45%;
      }
    }

  }

  .map-container{
    height: 60%;
  }
}


@media only screen and (max-width : 481px) {

  .legend-panel {
    height: 55%;
    padding: 10px 20px 0 30px;
    >h1{
      font-size: 1.8rem;
      margin-bottom: 10px;
    }

    .location-legend{
      margin-top: 10px;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 175px;
      justify-content: space-between;
        li{
        font-size: 1.3rem;
        width: 43%;
          margin-top: 0;
          margin-bottom: 10px;
        &:before{
          bottom: auto;
          top:2px;
        }
      }
    }

  }

  .map-container{
    height: 45%;
  }
}

