.facilities-section {
  display: flex;
}

  .facilities-legend-panel {
    height: 100%;
    padding: 5px 10px;
    background-color: #78BE44;
    text-align: center;
    width: 30%;
    
    h1{
      font-size: 1.8rem;
      color: #fff;
      margin: 15px 0 0 30px;
      text-align: left;
    }

    }

  .facilities-legend{
    margin-top: 20px;
    padding: 0 0 0 30px;
    list-style: none;
    li{
      position: relative;
      color: #fff;
      display: flex;
      justify-content: flex-start;

    svg{
      width: 25px;
      align-self: center;
      margin-right: 10px;
    }
      p{
        font-weight: 500;
        text-align: left;
        font-size: 1.4rem;

      }
    }
  }

  .office-visualization {
    background-image: url("../images/office-visualization.jpg");
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70%;
    position: relative;
  }


.vis-ico{
  position: absolute;
  max-width: 100%;

}

.bulb{
  top: 25%;
  right: 60%;
}

.ground{
  bottom: 10%;
  left: 50%;
}

.fire{
  right: 30%;
  top: 10%;
}

.feature{
  left: 33%;
  bottom: 10%;
}

.electro{
  left: 6%;
  bottom: 35%;
}

.celling{
  left: 20%;
  bottom: 50%;
}

.carpet{
  bottom: 15%;
  left: 15%;
}

.airicon{
  top: 10%;
  left: 30%;
}


@media only screen and (max-width : 993px) {

  .facilities-legend-panel {


    width: 25%;
  }

  .facilities-legend{

    li{

      svg{
        width: 20px;
        align-self: center;
        margin-right: 8px;
      }
      p{
        font-size: 1.2rem;

      }
    }
  }


  .office-visualization {

    width: 75%;
  }


  }


@media only screen and (max-width : 769px) {


  .facilities-section{
    flex-direction: column;
  }

  .facilities-legend-panel {

    width: 100%;
    order: 2;
    flex-shrink: 2;

    h1{
      font-size: 1.8rem;
      margin: 0 10px;
    }
  }

  .facilities-legend{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    li{
      width: 50%;
      svg{
        width: 25px;
        align-self: center;
        margin-right: 8px;
      }
      p{
        font-size: 1.4rem;

      }
    }
  }


  .office-visualization {

    width: 100%;
  }



}

@media only screen and (max-width : 500px) {

  .custom-content-section.facilities-section{


    height: initial;


    .office-visualization{
      height: 50vh;

      .vis-ico{
        width: 25px;
      }
    }

  }

  .facilities-legend{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    li{
      width: 100%;
      svg{
        width: 25px;
      }
      p{
        font-size: 1.4rem;
        br{
          display: none;
        }

      }
    }
  }

}
