
.floor-plans{
  position: relative;
  display: flex;
  flex-direction: column;
}



.floor-container {
  text-align: center;
  position: relative;
  width: 100vw;
  padding: 40px 15vw;
  min-height: 65%;


  #current-floor {
    max-width: 100%;
    margin-bottom: 10px;
  }

}

.floor-info {
  margin: 0 -15vw;
  p {
    display: inline-block;
    margin: 0 40px;
    vertical-align: text-top;
  }
  > .title {
    text-align: left;
  }

  .meta {

    span {
      width: 25px;
      height: 25px;
      background: $brand-primary;
      display: inline-block;
      transform: translateY(6px);
      margin: 0 10px;
    }
  }
}

.floors-nav {
  width: 70%;
  overflow: hidden;
  position: relative;
  margin: 20px auto;
  padding-bottom: 30px;

  .swiper-button-prev, .swiper-button-next{
    height: 100%;
  }


}

.floor-link {
  text-decoration: none;
  color: $content-color;
}

.floor-img {
  max-width: 100%;
  padding: 0 50px;
}

.floor-desc {
  text-align: left;
  padding: 0 50px;

}

@media only screen and (max-width : 1367px) {

  .floor-container {
    padding: 10px 15vw;
  }


}

@media only screen and (max-width : 1025px) and (orientation: landscape){
.floor-container{
display: none;

}

  .floors-nav{

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
}




@media only screen and (max-width : 1100px) {


  .floor-info {
    margin: 10px;
  }

  .floor-container{
    padding: 60px 2vw;
  }


  .floors-nav{
    margin-top: 10vh;
    width: 90%;
  }


}

@media only screen and (max-width : 769px) {


  .floor-info{
    p{
      font-size: 1.4rem;
    }
    .meta{

      span{
        width: 15px;
        height: 15px;
      }
    }

  }

  .floors-nav{
    margin-top: 5vh;
  }

  .floor-desc{
    font-size: 1.4rem;
  }



}

@media only screen and (max-width : 481px) {




  .floor-container{
    padding: 10px 20px 10px 20px;
  }

  .floor-info{
    text-align: center;
    margin: 0;
    p{
      font-size: 1.2rem;
      margin: 0;
    }
    .meta{

      span{
        width: 15px;
        height: 15px;
      }
    }

  }

  .floors-nav{
    margin-top: 10vh;
    width: 95vw;
  }

  .floor-desc{
    font-size: 1.2rem;
  }



}

